{% extends 'base.html.twig' %}

{% block title %}Task Manager{% endblock %}

{% block body %}
<div class="table-responsive w-25 m-auto">
    <div class="container m-0 p-0">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <h3 class="text-center m-5">Add new Task <a class="btn-warning btn" href="/task/create"><></a></h3>
    <table class="m-auto mt-5 mb-5 border rounded-1 table table-hover">
        <thead>
            <tr class="table-primary">
                <th>Id</th>
                <th>Name</th>
                <th>Created at</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{task.id}}</td>
                <td>{{task.name}}</td>
                <td>{{task.createdAt|format_datetime( 'medium', 'short', locale='hr' )}}</td>
                <td class="text-center">
{#                     Path#}
                    <a href="{{ path('task_delete', {id:task.id} ) }}" title="Delete task &quot;{{task.name}}&quot; ?"><i style="color: #e80c0c;" class="fas fa-trash px-1"></i></a>
                    <a href="{{ path('task_edit', {id:task.id} ) }}" title="Edit task &quot;{{task.name}}&quot; ?"><i style="color: #008cff" class="fas fa-edit px-1"></i></a>
                </td>
            </tr>
{#                <tr>#}
{#                    <td colspan="4">Opis: {{ task.description}}</td>#}
{#                </tr>#}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
